.mainbox {
  width: 1200px;
  height: flex;
  /* background-color: white; */
  padding: 15px;
  border: 3px solid gray;
  margin: 20px;
  text-align: left;
  margin: 0 auto;
}

.header {
  display: flex;
  padding: 0px;
  height: 200px;
  font-family: sans-serif;
  /* background-color: none; */
  flex-basis: 100%;
  overflow-y: auto;
  align-items: center;
  justify-content: center;

}

.horizontal-bar {
  background-color: #01696E;
  height: 4px;
  width: 804px;
  margin: 0 auto;
}

.slogan {
  /* position: absolute; */
  left: 12.32%;
  right: 49.47%;
  /* top: 15.02%; */
  bottom: 80.87%;
  font-family: 'Gentium Book Basic';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  text-align: center;
}

.logo-container {
  /* position: absolute; */
  display: flex;
  width: 150px;
  height: 150px;
  margin: 0 10px 0 10px;
  border-radius: 100px;
  border-color: red;
}

.horizontal-bar2 {
  /* position: absolute; */
  width: 1018px;
  height: 7px;
  left: 229px;
  top: 308px;
  background: rgba(255, 99, 71, 0.9);
  border-radius: 8px;
}
