.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.mainbox {
    width: 1200px;
    background-color: white;
    padding: 15px;
    border: 3px solid gray;
    margin: 20px;
    text-align: left;
    margin: 0 auto;
  }
  
.header {
    padding: 0px;
    height: flex;
    width: 1164px;
    font-family: sans-serif;
    background-color: #b3b3b3;
    flex-basis: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
.horizontal-bar {
    background-color: #01696E;
    height: 4px;
    width: 804px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  
.logo {
    position: absolute;
    width: 183px;
    height: 162px;
    left: 50%; 
    transform: translateX(-50%); 
    top: 59px;
    background: url(/public/media/logo.png);
  }
  
.slogan {
    font-family: 'Gentium Book Basic';
    font-style: italic;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: rgba(115, 115, 115, 0.74);
    text-align: center;
  }
  
.horizontal-bar2 {
    width: 1164px;
    height: 7px;
    background: rgba(255, 99, 71, 0.9);
    border-radius: 8px;
    margin: 0 auto; 
    margin-bottom: 10px;
  }
  
.card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
.recipe-card {
    width: 23%; 
    margin-bottom: 20px;
    margin-right: 5px;
    border-radius: 10px;
    background-color: #F3F3F3;
  }
  
.recipe-card .card-img-top {
    height: 200px; 
  }
  
.view-recipe-button {
    background-color: inherit; 
    color: inherit; 
    width: 100%; 
    text-align: right; 
}

.btn.btn-primary {
    border: none; 
    background-color: #F3F3F3;
    color: black; 
  }
  

.btn.btn-primary:hover {
    background-color: burlywood; 
    color: black; 
    border: none; 
  }
  
  
.add-recipe-button {
    background-color: #F3F3F3;
    color: black;
    margin-bottom: 10px;
  }
  
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px; 
  }
  
.recipe-card {
    width: 100%; 
    border-radius: 10px;
  }

.mission-box {
    margin-top: 10px;
    padding: 15px;
    height: flex;
    width: 1164px;
    font-family: sans-serif;
    background-color: #b3b3b3;
    flex-basis: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
  }

.footer {
    margin-top: 10px;
    padding: 15px;
    height: flex;
    width: 1164px;
    font-family: sans-serif;
    background-color: A38585;
    flex-basis: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
  }