/* mainbox first*/
.mainbox2 {
  width: 1000px;
  height: fit-content;
  background-image: url('/public/media/food1.png');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  margin: 0 auto;
  margin-bottom: 0 auto; 
}

/*header*/
.header {

  width: 1000px;
  height: 381px;
  border-radius: 0 0 25px 25px;
  box-shadow: 0px 4px 4px 0px #00000040;
  filter: blur(0px);
}
/*Title*/
.chickenAlfredo {
  color: #947969;
  font-size: 32px;
  font-weight: bold;
  font-style: italic;
  font-family: Gentium Book Basic, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 3px;
  top: 427px;
  width: 391px;
  height: 73px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.titleCard {
  margin-top: 25px;
  padding-left: 20px;
  padding-top: 20px;
  left: 61px;
  top: 427px;
  width: 400px;
  height: 73px;
  border-radius: 25px;
  background-color: #eee3dc;
  box-shadow: 0px 4px 4px 0px #00000040;
}

/*Description card*/

.descriptionCard {
  margin: 0 auto;
  margin-top: 25px;
  padding-left: 20px;
  padding-top: 20px;
  left: 62px;
  top: 517px;
  width: 877px;
  height: 178px;
  border-radius: 25px;
  background-color: #eee3dc;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.spaghettiCarbonaraDes {
  color: #947969;
  font-size: 32px;
  font-style: italic;
  font-family: Gentium Book Basic, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 80px;
  top: 560px;
  width: 877px;
  height: 129px;
  justify-content: center;
  flex-direction: column;
}
.description {
  color: #947969;
  font-size: 32px;
  font-weight: bold;
  font-style: italic;
  font-family: Gentium Book Basic, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 27px;
  top: 517px;
  width: 345px;
  height: 68px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/*ingredients card*/
.ingredientsCard {
  margin: 0 auto;
  margin-top: 25px;
  padding-left: 20px;
  padding-top: 20px;
  left: 61px;
  top: 712px;
  width: 876px;
  height: 271px;
  border-radius: 25px;
  background-color: #eee3dc;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.ingredients {

  color: #947969;
  font-size: 32px;
  font-weight: bold;
  font-style: italic;
  font-family: Gentium Book Basic, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 93px;
  top: 705px;
  width: 805.92px;
  height: 62.8524px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
._2BonelessSkinlessChickenBreast {
  position: absolute;
  left: 96.0399px;
  top: 764.241px;
  width: 803.4172px;
  height: 178.7621px;
  justify-content: center;
  flex-direction: column;
}
.textLine1 {
  color: #947969;
  font-size: 24px;
  font-style: italic;
  font-family: Gentium Book Basic, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textLine2 {
  margin-top: 0;
  color: #947969;
  font-size: 24px;
  font-style: italic;
  font-family: Gentium Book Basic, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textLine3 {
  margin-top: 0;
  color: #947969;
  font-size: 24px;
  font-style: italic;
  font-family: Gentium Book Basic, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textLine4 {
  margin-top: 0;
  color: #947969;
  font-size: 24px;
  font-style: italic;
  font-family: Gentium Book Basic, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textLine5 {
  margin-top: 0;
  color: #947969;
  font-size: 24px;
  font-style: italic;
  font-family: Gentium Book Basic, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textLine6 {
  margin-top: 0;
  color: #947969;
  font-size: 24px;
  font-style: italic;
  font-family: Gentium Book Basic, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textLine7 {
  margin-top: 0;
  color: #947969;
  font-size: 24px;
  font-style: italic;
  font-family: Gentium Book Basic, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}

/*DishHub logo recipe page*/

.dishHubRecipe {
  width: 180px;
  height: 162px;
  background-image:/* webpackIgnore: true */ url('assets/dishHub.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.instructionsCard {
  margin: 0 auto;
  margin-top: 25px;
  padding-left: 20px;
  padding-top: 20px;
  left: 62px;
  top: 1000px;
  width: 876px;
  height: 308px;
  border-radius: 25px;
  background-color: #eee3dc;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.instructions {
  color: #947969;
  font-size: 32px;
  font-weight: bold;
  font-style: italic;
  font-family: Gentium Book Basic, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 94.5371px;
  top: 1000px;
  width: 805.92px;
  height: 48.899px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.buttonLogo {
  background-color: #00000000;
  border: none; 
  background-image: url('/public/media/logo.png'); 
  background-size: cover;
  background-position: center;
  margin-left: 425px;
  margin-top: 25px;
  width: 162px;
  height: 180px;
}

.addPhotoBox {
  width: 1000px;
  height: 381px;
  border-radius: 0 0 25px 25px;
  box-shadow: 0px 4px 4px 0px #00000040;
  background-color: #eee3dc;
  padding-top: 100px;
  padding-left: 325px;
  text-align: middle;
}
.localFile {
  margin-left: 125px;;
  margin-top: 25px;
  padding: 15px;
  width: 125px;
  height: 115px;
  border-radius: 25px;
  background-color: #f6f1ed;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.mealType {

  margin-left: 440px;;
  margin-top: 25px;
  padding: 15px;
  width: 125px;
  height: 115px;
  border-radius: 25px;
  background-color: #f6f1ed;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.submit {
  margin-left: 355px;
  margin-top: 25px;
  left: 425px;
  top: 1337px;
  width: 287px;
  height: 64px;
  border-radius: 25px;
  border-color: #00000000;
  background-color: #eee3dc;
  box-shadow: 0px 4px 4px 0px #00000040;
}